html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: inherit;
}

.container {
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
}

.box {
  background-color: teal;
  border: 2px solid #212121;
}

.sidebar {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 20rem;
  flex-grow: 1;
}

.sidebar > *:nth-child(4) {
  margin-bottom: auto;
}

.stack > * + * {
  margin-top: 1.5rem;
}

.main_content {
  box-sizing: content-box;
  max-width: 60ch;
  height: 66.6vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.not_sidebar {
  flex-grow: 999;
  flex-shrink: 1;
  min-width: 50%;
}
